*{margin: 0; padding: 0;}

ul.menu{
    background-color: bisque;
}

ul.menu > li a{
    color:black;
}

ul.menu > li a:hover{
    color: black;
    text-decoration: underline;
}

header .user-utils > div > a{
    color: black;
}

header .user-utils > div > a:hover{
    font-weight: bold;
}

header .user-utils #shopping-cart > span{
    background-color: bisque;
    color: black;
}

.producto{
    margin: 0 auto;
    text-align: center;
}

.producto > img{
    width: 240px;
    float: left ;
    padding: 10px;
}

hr{
    color: black;
}

ul{
    font-size: 20px;
    list-style: none;
    color: black;
    text-align: left;
}

ul>li{
    padding: 5px;
}

i{
    font-size: 20px;
    color: black;
    text-align: left;
}

.precio{
    margin-left: 55px;
}

.nombre{
    font-weight: bold;
    text-decoration: underline;
}

p{
    font-size: 20px;
    color: black;
    text-align: left;
}

button{
    border: none;
}

del{
    margin-left: 50px;
}

#totop{
    display: none;
    position: fixed;
    right: 40px;
    bottom: 64px;
    width: 30px;
    height: 30px;
    background: black;
    z-index: 9999;
    cursor: pointer;
    text-align: center;
    padding-top: 5px;
    padding-left: 6px;
  }

#totop i{color: #fff;}

footer{
    background: bisque;
}

footer .footer_links ul li a:hover{
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}

footer .footer_links ul li a{
    color: black;
}

.copyright{
    background: #fff;
    color: black;
}

header .user-utils > div > a i{
    color: black;
}

header .user-utils > div > #my-account i{
    color: black;
}